.app-title {
  background-color: #0279AC !important;
  color:  #FFFFFF !important;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
}
.vertical-text {
  writing-mode: vertical-rl;
  
text-orientation: mixed;
}
.navbar {
  background-color:  #3399FF !important;
  color: #FFFFFF !important;
}
body {
  background-color:  #FFFFFF !important;
}
.side-bar {
  background-color: #464646 !important;
  color: #FFFFFF !important;
}
.side-bar a:link {
  color: #FFFFFF !important;
}
.side-bar a:visited {
  color: #FFFFFF !important;
}
.side-bar a:hover {
  color: #FFFFFF !important;
}
.side-bar a:active {
  color: #FFFFFF !important;
}
.article{
  background-color:  #FFFFFF !important;
  color:  #333333 !important;
  padding-left: 12px;
}
.footer{
  background-color: #E7E7E7 !important;
  color:  #8B8B8B !important;
}
.inner-table {
  margin: 0;
  padding: 0;
  border: none;
}
.inner-table-row {
  height: 12px;
}